.diagram {
  position: relative;
  display: flex;
  height: 100vh;
  width: 100%;
  margin-top: 0;
  visibility: hidden;

  &.initialized {
    visibility: visible;
  }

  &:has([role='treeitem']:focus-visible)::after {
    content: '';
    position: absolute;
    inset: 0;
    pointer-events: none;
    box-shadow: inset 0 0 0 var(--ngd-token-shadow-focus-node-active-spread)
      var(--ngd-focus-ring-node-active);
    z-index: 10;
  }
}

.tree-wrapper {
  display: contents;
}
